		    </div>

		  </div>
		</div>
	      </div>
	      <div class="content-sidebar">
		<div class="site-content__sidebar">  
		  <div class="prebox">
		    <section class="box box--bar-thick"><h2 class="heading">Study with UCL</h2>
		      <p><a class="cta btn pull-left" href="https://www.ucl.ac.uk/prospective-students/graduate/ucl-plus">Register your interest</a></p>
		      <p><a class="cta btn pull-left" href="http://www.ucl.ac.uk/prospective-students/graduate">Apply</a></p>
		    </section>
		  </div>                                                                 
		  <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/cmbrierley">Tweets by cmbrierley</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	      </div> 

	      <!-- end main slot where silva content gets rendered-->

	    </div>
	  </div>
	  
	  
	</div>
      </div>
    </div>
</div>
</div>



<!-- end .site-content -->

<!-- UCL-GEOG FOOTER -->
<!--
<footer class="footer wrapper">
  <div class="footer__inner clearfix">
    <article class="block block--col-1"><h2 class="as-h5">Research</h2>
      <ul class="footer__list list-unstyled"><li class="footer__item"><a href="/research/culture-and-migration">Culture and Migration</a></li>
	<li class="footer__item"><a href="/research/environment-politics-and-society">Environment, Politics and Society</a></li>
	<li class="footer__item"><a href="/research/environmental-modelling-and-observation">Environmental Modelling and Observation</a></li>
	<li class="footer__item"><a href="/research/geospatial-analytics-and-computing">Geospatial Analytics and Computing</a></li>
	<li class="footer__item"><a href="/research/global-urbanisms">Global Urbanisms</a></li>
	<li class="footer__item"><a href="/research/past-climates">Past Climates</a></li>
	<li class="footer__item"><a href="/research/recent-environmental-change-and-biodiversity">Recent Environmental Change and Biodiversity</a></li>
    </ul></article><article class="block block--col-2"><h2 class="as-h5">Sites</h2>
      <ul class="footer__list list-unstyled"><li class="footer__item"><a href="http://blog.geog.ucl.ac.uk/" target="_blank">Geography Blog</a></li>
	<li class="footer__item"><a href="https://www.ucl.ac.uk/geography/intranet/" target="_blank">Geography Intranet</a></li>
	<li class="footer__item"><a href="https://moodle.ucl.ac.uk/" target="_blank">Moodle</a></li>
    </ul></article><article class="block block--col-3"><h2 class="as-h5">Quicklinks</h2>
      <ul class="footer__list list-unstyled"><li class="footer__item"><a href="/about-us/contact-us">Contact Us and Maps</a></li>
	<li class="footer__item"><a href="/resources/information-for-schools/introduction">Fawcett Fellowships</a></li>
	<li class="footer__item"><a href="/resources/safety">Safety</a></li>
    </ul></article><hr class="clear blankhr" /><ul id="social" class="list-inline"><li><a href="http://twitter.com/uclgeography"><img src="http://www.geog.ucl.ac.uk/twitter.png" alt="Twitter" width="35" height="35" /></a></li>
      <li><a href="http://www.facebook.com/uclgeography"><img src="http://www.geog.ucl.ac.uk/facebook.png" alt="Facebook" width="35" height="35" /></a></li>
      <li><a href="http://instagram.com/uclgeography"><img src="http://www.geog.ucl.ac.uk/instagram.png" alt="Instagram" width="35" height="35" /></a></li>
      <li><a href="http://www.youtube.com/uclgeography"><img src="http://www.geog.ucl.ac.uk/youtube.png" alt="YouTube" width="35" height="35" /></a></li>
      <li><a href="http://www.flickr.com/photos/uclgeography"><img src="http://www.geog.ucl.ac.uk/flickr.png" alt="Flickr" width="35" height="35" /></a></li>
    </ul><hr class="clear blankhr" /><ul class="list-inline"><li><a href="/news-events/news/geography-awarded-athena-swan-bronze"><img src="AS_RGB_Bronze-Award.jpg" alt="Athena SWAN Bronze Award" width="117" height="72" /></a></li>
      <li><a href="http://www.ucl.ac.uk/hr/equalities/lgbt/friend-of-out.php"><img src="friend-out-ucl.jpg" alt="Friend of Out@UCL" width="72" height="72" /></a></li>
    </ul><hr class="clear" /><ul class="footer__list list-unstyled zero-bottom"><li class="footer__item text-muted small">UCL Department of Geography, University College London, Gower Street, London, WC1E 6BT Tel: +44 (0) 20 7679 0500</li>
    </ul><ul class="list-inline footer__list list-unstyled list-inline--divided"><li class="text-muted small">Copyright © 2017 UCL</li>
      <li class="text-muted small"><a href="http://www.ucl.ac.uk/disclaimer">Disclaimer</a></li>
      <li class="text-muted small"><a href="http://www.ucl.ac.uk/foi">Freedom of Information</a></li>
      <li class="text-muted small"><a href="http://www.ucl.ac.uk/accessibility">Accessibility</a></li>
      <li class="text-muted small"><a href="http://www.ucl.ac.uk/privacy">Privacy</a></li>
      <li class="text-muted small"><a href="http://www.ucl.ac.uk/cookies">Cookies</a></li>
      <li class="text-muted small"><a href="/about-us/contact-us">Contact Us</a></li>
    </ul>
  </div>
</footer>
-->
<!-- end UCL-GEOG FOOTER -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3540054-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>

